<div class="md-cols-8">
  <bnk-header></bnk-header>
</div>
<div class="md-cols-4">
  <bnk-client-info [clientId]="clientId"></bnk-client-info>
</div>
<p>
  Welcome to TMP Banking Online!!
</p>
<bnk-account-list [accounts]="accounts" (OnDeleteRequest)="showDeleteAccountModal($event)">
</bnk-account-list>
<button (click)="showCreateAccountModal()">Create an Account</button>
<hr/>
<div *ngIf="action==1">
  <bnk-account-create [clientId]="clientId" (OnCreated)="refreshAccountList()"></bnk-account-create>
</div>
--{{selectedAccount}}
<div *ngIf="action==2 && selectedAccount">
  <bnk-account-delete [accountNumber]="selectedAccount" (OnDeleted)="refreshAccountList()"></bnk-account-delete>
</div>