<div class="col-md-6">
  <h2> Create Account</h2>
   <p>Client: {{clientId}}</p>
  <form (ngSubmit)="createAccount()" #createForm="ngForm">
    <div class="form-group">
      <label for="Title">Tile</label>
      <input type="text" [(ngModel)]="acccount.Title" placeholder="Title" class="form-control" id="Title" name="Title" required
        #title="ngModel">
      <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
        Title is required
      </div>
    </div>
    <!--<div class="form-group">
      <label for="Type">Type</label>
      <input type="text" [(ngModel)]="acccount.Type" placeholder="Type" class="form-control" id="Type" name="Type" required #type="ngModel">
    </div>-->
    <div class="form-group">
      <label for="Type">Type</label>
      <select [(ngModel)]="acccount.Type" class="form-control" id="Type" name="Type" required>
        <option *ngFor="let type of accountTypes" [value]="type.key">{{type.value}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="Amount">Amount</label>
      <input type="number" [(ngModel)]="acccount.Balance" placeholder="Amount" class="form-control" id="Amount" name="Amount" required
        #depositAmount="ngModel" max="10000" min="1">
      <div [hidden]="depositAmount.pristine || depositAmount.value>=100" class="alert alert-danger">
        Need to deposit minimum $100
      </div>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!createForm.form.valid || depositAmount.value<100">Create</button>
  </form>
</div>